[Unit]
Description=Manage VNC Server

[Service]
Type=forking
ExecStart=/usr/local/bin/vncss.sh start
ExecStop=/usr/local/bin/vncss.sh stop
ExecReload=/usr/local/bin/vncss.sh restart
User=<user>

[Install]
WantedBy=multi-user.target
